version: '3.8'

services:
  parser:
    build: .
    ports:
      - "3454:3454"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://user:password@db:5432/estate_db?sslmode=disable
    restart: always

  db:
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=estate_db
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata:
